
			<table>
				
			<thead> 
				<tr> 
					<th> Price (Cents) </th> 
					<th> Location </th> 
					<th> Brand </th> 
					<th> Address </th> 
					<th> Date (Y-M-D) </th>
				</tr> 
			</thead>
			
				
						<tbody>
							<tr bgcolor = #FFFFFF> 
								<td> 123.5 </td> 
								<td> WELSHPOOL </td> 
								<td> Vibe </td> 
								<td> 124 Welshpool Rd </td> 
								<td> 2019-01-23 </td> 
							</tr>
						</tbody>
			
						<tbody>
							<tr bgcolor = #008080> 
								<td> 127.8 </td> 
								<td> WELSHPOOL </td> 
								<td> Shell </td> 
								<td> 36 Welshpool Rd </td> 
								<td> 2019-01-24 </td> 
							</tr>
						</tbody>
			
						<tbody>
							<tr bgcolor = #FFFFFF> 
								<td> 129.9 </td> 
								<td> WELSHPOOL </td> 
								<td> Caltex </td> 
								<td> 119 Kurnall Rd </td> 
								<td> 2019-01-23 </td> 
							</tr>
						</tbody>
			
						<tbody>
							<tr bgcolor = #008080> 
								<td> 129.9 </td> 
								<td> WELSHPOOL </td> 
								<td> Caltex </td> 
								<td> 119 Kurnall Rd </td> 
								<td> 2019-01-24 </td> 
							</tr>
						</tbody>
			
						<tbody>
							<tr bgcolor = #008080> 
								<td> 133.7 </td> 
								<td> WELSHPOOL </td> 
								<td> Vibe </td> 
								<td> 124 Welshpool Rd </td> 
								<td> 2019-01-24 </td> 
							</tr>
						</tbody>
			
						<tbody>
							<tr bgcolor = #008080> 
								<td> 135.5 </td> 
								<td> BENTLEY </td> 
								<td> BP </td> 
								<td> 1156 Albany Hwy </td> 
								<td> 2019-01-24 </td> 
							</tr>
						</tbody>
			
						<tbody>
							<tr bgcolor = #008080> 
								<td> 135.5 </td> 
								<td> CANNINGTON </td> 
								<td> BP </td> 
								<td> 1443 Albany Hwy </td> 
								<td> 2019-01-24 </td> 
							</tr>
						</tbody>
			
						<tbody>
							<tr bgcolor = #008080> 
								<td> 135.9 </td> 
								<td> BENTLEY </td> 
								<td> Caltex </td> 
								<td> 91-93 Manning Rd (Cnr Wyong Rd) </td> 
								<td> 2019-01-24 </td> 
							</tr>
						</tbody>
			
						<tbody>
							<tr bgcolor = #008080> 
								<td> 135.9 </td> 
								<td> CANNINGTON </td> 
								<td> Caltex </td> 
								<td> 1346 Albany Hwy </td> 
								<td> 2019-01-24 </td> 
							</tr>
						</tbody>
			
						<tbody>
							<tr bgcolor = #008080> 
								<td> 136.9 </td> 
								<td> QUEENS PARK </td> 
								<td> 7-Eleven </td> 
								<td> 235 Welshpool Rd </td> 
								<td> 2019-01-24 </td> 
							</tr>
						</tbody>
			
						<tbody>
							<tr bgcolor = #008080> 
								<td> 137.3 </td> 
								<td> BECKENHAM </td> 
								<td> Caltex Woolworths </td> 
								<td> 63 William St </td> 
								<td> 2019-01-24 </td> 
							</tr>
						</tbody>
			
						<tbody>
							<tr bgcolor = #008080> 
								<td> 137.3 </td> 
								<td> CANNINGTON </td> 
								<td> Caltex Woolworths </td> 
								<td> 25 Cecil Ave </td> 
								<td> 2019-01-24 </td> 
							</tr>
						</tbody>
			
						<tbody>
							<tr bgcolor = #FFFFFF> 
								<td> 137.8 </td> 
								<td> WELSHPOOL </td> 
								<td> Shell </td> 
								<td> 36 Welshpool Rd </td> 
								<td> 2019-01-23 </td> 
							</tr>
						</tbody>
			
						<tbody>
							<tr bgcolor = #FFFFFF> 
								<td> 137.9 </td> 
								<td> BENTLEY </td> 
								<td> BP </td> 
								<td> 1156 Albany Hwy </td> 
								<td> 2019-01-23 </td> 
							</tr>
						</tbody>
			
						<tbody>
							<tr bgcolor = #FFFFFF> 
								<td> 137.9 </td> 
								<td> CANNINGTON </td> 
								<td> BP </td> 
								<td> 1443 Albany Hwy </td> 
								<td> 2019-01-23 </td> 
							</tr>
						</tbody>
			
						<tbody>
							<tr bgcolor = #008080> 
								<td> 137.9 </td> 
								<td> BENTLEY </td> 
								<td> Coles Express </td> 
								<td> 1128 Albany Hwy </td> 
								<td> 2019-01-24 </td> 
							</tr>
						</tbody>
			
						<tbody>
							<tr bgcolor = #FFFFFF> 
								<td> 139.5 </td> 
								<td> BECKENHAM </td> 
								<td> Caltex Woolworths </td> 
								<td> 63 William St </td> 
								<td> 2019-01-23 </td> 
							</tr>
						</tbody>
			
						<tbody>
							<tr bgcolor = #FFFFFF> 
								<td> 139.5 </td> 
								<td> BENTLEY </td> 
								<td> Caltex </td> 
								<td> 91-93 Manning Rd (Cnr Wyong Rd) </td> 
								<td> 2019-01-23 </td> 
							</tr>
						</tbody>
			
						<tbody>
							<tr bgcolor = #FFFFFF> 
								<td> 139.5 </td> 
								<td> CANNINGTON </td> 
								<td> Caltex </td> 
								<td> 1346 Albany Hwy </td> 
								<td> 2019-01-23 </td> 
							</tr>
						</tbody>
			
						<tbody>
							<tr bgcolor = #FFFFFF> 
								<td> 139.5 </td> 
								<td> CANNINGTON </td> 
								<td> Caltex Woolworths </td> 
								<td> 25 Cecil Ave </td> 
								<td> 2019-01-23 </td> 
							</tr>
						</tbody>
			
						<tbody>
							<tr bgcolor = #FFFFFF> 
								<td> 139.9 </td> 
								<td> BENTLEY </td> 
								<td> Coles Express </td> 
								<td> 1128 Albany Hwy </td> 
								<td> 2019-01-23 </td> 
							</tr>
						</tbody>
			
						<tbody>
							<tr bgcolor = #FFFFFF> 
								<td> 139.9 </td> 
								<td> QUEENS PARK </td> 
								<td> 7-Eleven </td> 
								<td> 235 Welshpool Rd </td> 
								<td> 2019-01-23 </td> 
							</tr>
						</tbody>
			
			</table>
			